<div class="row">
	<div class="large-4 large-centered columns">
		<label>Cash Amount
			<input type="text" id="cash_amount" onchange="updateChange()" />
			<input type="hidden" id="total" value=""/>
		</label>
	</div>
</div>
<div class="row">
	<div class="large-4 large-centered columns">
		<label>Change Amount:
			<h4 id="change_amount"></h4>
		</label>
	</div>
</div>

<script type="text/javascript">
	function updateChange() {
		var cash_amount = Number(document.getElementById("cash_amount").value);
		var ticket_amount = <%=@check.total%>;
		ticket_amount = ticket_amount.toFixed(2);
		cash_amount = cash_amount - ticket_amount;
		cash_amount = cash_amount.toFixed(2);
		document.getElementById("change_amount").innerHTML = cash_amount;
		if (cash_amount < 0) {
			alert("you didn't enter enough cash...")
			return false;
		}
	}
</script>