<center>
  <h1>Try your luck!</h1>
  <h5>You have 2 chances.</h5>
 </center>
  
  <%x = 1 + rand(5)%>
  <%y = 1 + rand(5)%>

<ul class = "small-block-grid-2">

<li><a href="#" data-reveal-id="myModal">
  <img src="/games/images/cardBack.png" alt="2048" style="width:150px;height:200px;border:0">
</a>
<h5>Card 1</h5>
	<div id="myModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  	<center><h2>Card 1</h2></center>
  	<%if x==1%>
  	<center>
  		<p>You Won!</p>
  		<p>Here is your code:</p>
  		<%code1 = CouponCode.generate%>
		<%=code1%>
		<br>
		<img src="/games/images/hamburger.png" alt="burger" style="width:100px;height:100px;border:0">
	</center>	
  	<%else%>
  		<center><p>You Lost!</p></center>
  	<%end%>
  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
</li>


<li><a href="#" data-reveal-id="myModal2">
  <img src="/games/images/cardBack.png" alt="2048" style="width:150px;height:200px;border:0">
</a>
<h5>Card 2</h5>
	<div id="myModal2" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  	<center><h2>Card 2</h2></center>
  	<%if y==2%>
  	<center>
  		<p>You Won!</p>
  		<p>Here is your code:</p>
  		<%code2 = CouponCode.generate%>
		<%=code2%>
		<br>
		<img src="/games/images/hamburger.png" alt="burger" style="width:100px;height:100px;border:0">
	</center>
  	<%else%>
  		<center><p>You Lost!</p></center>
  	<%end%>
  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
</li>

</ul>

