

<ul class = "small-block-grid-4">

<li>
<a href="/games/mario/main.html"> 
  <img src="/games/images/mario.png" alt="Infinite Mario" style="width:200px;height:200px;border:0">
</a>
<h5>Mario</h5>
</li>


<li><a href="/games/alienInvasion/index.html">
  <img src="/games/images/alienInvasion.png" alt="Alien Invasion" style="width:200px;height:200px;border:0">
</a>
<h5>Alien Invasion</h5>
</li>


<li><a href="/games/clumsyBird/index.html">
  <img src="/games/images/clumsyBird.png" alt="Clumsy Bird" style="width:200px;height:200px;border:0">
</a>
<h5>Clumsy Bird</h5>
</li>

<li><a href="/games/2048/index.html">
  <img src="/games/images/2048.png" alt="2048" style="width:200px;height:200px;border:0">
</a>
<h5>2048</h5>
</li>

</ul>

<center>
<div class="panel">
  <img src="/games/images/coupon.png" alt="Coupon" style="width:200px;height:200px;border:0">
<br>
<span data-tooltip aria-haspopup="true" class="has-tip" title="Find the burger under one of the two cards for a $10 off coupon!">Coupon Code Game </span>
<br>
<%=render 'couponGame'%>
</center>
</div>
