

<ul class = "small-block-grid-3">
<li><a href="#">
  <img src="https://prismic-io.s3.amazonaws.com/openhtml5games/be5d792c271e68a5bafca6576c10e6ca30f496ec.png" alt="Infinite Mario" style="width:200px;height:200px;border:0">
</a>
<h5>Mario</h5>
</li>


<li><a href="#">
  <img src="https://prismic-io.s3.amazonaws.com/openhtml5games/ab950b50f3e1084433c1fb62ae3fd5e261248819.png
" alt="Infinite Mario" style="width:200px;height:200px;border:0">
</a>
<h5>Alien Invasion</h5>
</li>


<li><a href="#">
  <img src="http://superdevresources.com/wp-content/uploads/sites/7/2014/09/clumsy-bird-open-source-game.png
" alt="Infinite Mario" style="width:200px;height:200px;border:0">
</a>
<h5>Clumsy Bird</h5>
</li>

</ul>