<h4 style="color:white">Remove Items</h4>
<hr>

<%menuitems = Menuitem.all%>

<% appetizers = Array.new%>
<% entrees = Array.new%>
<% desserts = Array.new%>

<%menuitems.each do |menuitem|%>
  <%if menuitem.category == "Appetizers"%>
    <% appetizers << menuitem%>
  <%elsif menuitem.category == "Entrees"%>
    <% entrees << menuitem%>
  <%elsif menuitem.category == "Desserts"%>
    <% desserts << menuitem%>
  <%end%>  
<%end%>


<a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button">Appetizers</a>
<ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
  <% appetizers.each do |appetizer| %>
    <li><%= link_to appetizer.name%></li>
  <%end%>
</ul>

<a data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="button">Entrees</a>
<ul id="drop2" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
  <% entrees.each do |entree| %>
    <li><%= link_to entree.name%></li>
  <%end%>
</ul>

<a data-dropdown="drop3" aria-controls="drop3" aria-expanded="false" class="button">Desserts</a>
<ul id="drop3" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
  <% desserts.each do |dessert| %>
    <li><%= link_to dessert.name%></li>
  <%end%>
</ul>

