<strong>How did we do?</strong>
<fieldset>
<p>Thank you for dining with us! At Bryce Burger we are committed to providing you with the best dining experience possible. 
<br>
Please fill out this survey so that we may continue to improve our service.</p>
</fieldset>
<br>
<fieldset>
<table>
  <thead>
    <tr>
      <th width ="500">Please indicate your level of agreement or disagreement with the following statements.</th>
      <th>Strongly Disagree</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Strongly Agree</th>
    </tr>
  </thead>
  <tbody>
  <!--Quality-->
    <tr>
      	<td>The food was served hot and fresh</td>
      	<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_1" value="1"> 1</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_1" value="2"> 2</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_1" value="3"> 3</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_1" value="4"> 4</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_1" value="5"> 5</td>
    </tr>
    <tr>
      <td>The quality of food was excellent</td>
      	<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_2" value="1"> 1</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_2" value="2"> 2</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_2" value="3"> 3</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_2" value="4"> 4</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_2" value="5"> 5</td>
    </tr>
    <tr>
      <td>The food was very tasty and flavorful</td>
      	<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_3" value="1"> 1</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_3" value="2"> 2</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_3" value="3"> 3</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_3" value="4"> 4</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Quality_3" value="5"> 5</td>
    </tr>

    <!--Waiting Time-->
    <td>
  	<div class="row">
    <div class="small-4 columns">
      <label>Approximately how many minutes did you wait to be seated?
        <input type="number" />
      </label>
    </div>
  	</div>
 	</td> 

 	<tr>
 	<td><strong>The waiting time was:</strong></font></td>
 	</tr>
	<tr>
	<td>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WaitingTime" value="1"> About what I expected<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WaitingTime" value="2"> A little longer than I expected<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WaitingTime" value="3"> Much longer than I expected
	</td>
	</tr>

  </tbody>
</table>

<!--Second Table-->
<table>
  <thead>
    <tr>
      <th width ="500">Please indicate your level of agreement or disagreement with the following statements.</th>
      <th>Strongly Disagree</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Strongly Agree</th>
    </tr>
  </thead>
  <tbody>
  <!--Quality-->
    <tr>
      	<td>We were seated promptly</td>
      	<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_1" value="1"> 1</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_1" value="2"> 2</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_1" value="3"> 3</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_1" value="4"> 4</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_1" value="5"> 5</td>
    </tr>
    <tr>
      <td>A server was there to take our order quickly</td>
      	<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_2" value="1"> 1</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_2" value="2"> 2</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_2" value="3"> 3</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_2" value="4"> 4</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_2" value="5"> 5</td>
    </tr>
    <tr>
      <td>The server was friendly and patient when taking our order</td>
      	<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_3" value="1"> 1</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_3" value="2"> 2</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_3" value="3"> 3</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_3" value="4"> 4</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_3" value="5"> 5</td>
    </tr>
    <tr>
      <td>The server was able to answer all of our questions</td>
      	<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_4" value="1"> 1</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_4" value="2"> 2</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_4" value="3"> 3</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_4" value="4"> 4</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_4" value="5"> 5</td>
    </tr>
    <tr>
      <td>Overall, the service was excellent</td>
      	<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_5" value="1"> 1</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_5" value="2"> 2</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_5" value="3"> 3</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_5" value="4"> 4</td>
		<td align="center" width="10%" bgcolor=#DFDFDF><input type="radio" name="Service_5" value="5"> 5</td>
    </tr>
    <tr>
 	<td><strong>Would you recommend our restauraunt to a friend?</strong></font></td>
 	</tr>
	<tr>
	<td>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="Recommendation" value="1"> Yes<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="Recommendation" value="2"> No<br>
	</td>
	</tr>

	<td>
  	<div class="row">
    <div class="small-12 columns">
      <label>Any other comments or suggestions?
        <input type="text" />
      </label>
    </div>
  	</div>
 	</td> 
  </tbody>
</table>
<a class="button success" href="/games/thank_you.html">Submit</a>
</fieldset>
