<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <%= button_to "Refill", root_url, :method => "get", class: "button round" %>
      </li>
      
      <!-- need to add a way to show the total in the pay button -->
      <li>
        <%= button_to "Pay Total: ", root_url, :method => "get", class: "button round success" %>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <!-- Back only shows if user is a manager or waiter -->
      <% if view == "waiter" %>
      <li>
        <%= button_to "Back", :back, :method => "get", class: "button small" %>
      </li>
      <% else %>
      <!-- Help should only show if user is guest -->
      <li>
        <%= button_to "Help", root_url, :method => "get", class: "button alert small" %>
      </li>
      <% end %>
    </ul>
  </section>

</nav>
