
<center><%= render 'top_nav_bar', :view => "menu" %></center>
<div class="rows">
  <div class="coulmns large-10 right">
    <%= render 'menu' %>
    <%= link_to 'Confirm Order', guest_confirm_order_path, class:'button right' %>
  </div>
</div>
<%= render 'side_nav', :view => "menu" %>
