<head>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/kitchen.css">
  <script src="../../javascripts/kitchen.js"></script>
</head>

<div class="tickets-container">

  <!-- get all tickets from DB -->
  <% Tickets = Ticket.all %>

  <% Tickets.each do |ticket| %>
  <div class="grid grid-pad">
    <div class="ticket col-1-4">
      <!-- loop through each order item within the ticket here -->
      <div class="order-item"></div>
    </div>
  </div>
  <%end%>
</body>
