<center>
<%= render 'top_nav_bar', :view => "manager" %>
<div class="rows">
  <%= render 'side_nav', :view => "manager" %>
</div>
</center>	
<% if params[:view] == 'survey' %>
  <center><%= render 'survey' %></center>
<%end%>	
