<style>
div.columns large-10 right"{
	padding-left: 2cm;
}

</style>
<center><%= render 'top_nav_bar', :view => "manager" %></center>


<div class="rows">
  <div class="large-2 columns" style="background:#333">
    <ul class = side-nav>

    <% servers = User.all.where(:accesslevel => 3) %>
    <% servers.each do |servers|%>
    <li><%= button_to "#{servers.username}", tableview_path, :view => "Servers", :method => "get", class: "button success radius" %></li>
    <% end %>
    
	</ul>
  </div>
</div>

<div class="coulmns large-10 right">
<div class="columns">
<ul class="large-block-grid-4">
  <% tables = Table.all.where(:accesslevel => 1) %>
  <% tables.each do |tables|%>
  <li>
  	<a href="#" class="button split radius"><%="#{tables.username}" %><span data-dropdown="drop"></span></a>
    <ul id="drop" class="f-dropdown" data-dropdown-content>
  		<li><a href="#">Status</a></li>
  		<li><a href="#">Refill</a></li>
	</ul>
  </li>
  <%end%>
</ul>
</div>
</div>