// Place all the styles related to the Guestaccounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  text-align:center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 300px;
}

input[type=text],
input[type=email],
input[type=password] {
  color: #000000;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 60px;
  margin: 6px auto;
  text-indent: 10px;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #008CBA;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}