<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your payment at ByrceBurger</h1>
    <p>
      You successfully paid.<br>
    </p>
    <p>
      Please come back soon!
    </p>
  </body>
</html>